.search-div {
  display: flex;
  width: 24rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.063rem solid gray;

  .search-field {
    border: none;
    font-size: 1rem;
  }

  .search-icon {
    color: gray;
  }
}
